@page "/todolist"
<h3>ToDoListPage</h3>

<input type="text" class="form-control" @bind-value="reqModel.TaskName" />

<button type="button" class="btn btn-dark" @onclick=Cancel>Cancel</button>
<button type="button" class="btn btn-success" @onclick=Add>Add</button>

@foreach (var item in data)
{
    <div class="form-check">
        <input type="checkbox" class="form-check-input" @onclick="() => ToggleTask(item)" checked="@item.IsCompleted">
        <button type="button" class="btn btn-danger" @onclick="() => Delete(item.Id)">Delete</button>
        <label class="form-check-label">
            [@item.Id] @item.TaskName
        </label>
    </div>
}